include ./partials/header.pug
main
  script.
    party = !{JSON.stringify(party)}
  h2 #{party.name} aura lieu le #{party.date}
  h3 Créé par #{party.author}
  hr
  br
  div.share
    label(for="url") Partagez l'événement
    input(id="url" value=`${url}` data-clipboard=`${url}`)
  include ./partials/item_form.pug
  br
  div.itemsContainer
    each value in party.items
      div.item
        include ./partials/item.pug